<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}new.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}syntax.css">
  </head>
  <body>
    {{- partial "header.html" . -}}
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    {{ end }}
  </body>
</html>